{% set FIELD_USERNAME       = constant('App\\Form\\User\\UserLoginForm::FIELD_NAME_USERNAME') %}
{% set FIELD_NAME_PASSWORD  = constant('App\\Form\\User\\UserLoginForm::FIELD_NAME_PASSWORD') %}
{% set FIELD_NAME_SUBMIT    = constant('App\\Form\\User\\UserLoginForm::FIELD_NAME_SUBMIT') %}
{% set FIELD_NAME_REGISTER  = constant('App\\Form\\User\\UserLoginForm::FIELD_NAME_REGISTER') %}

<div class="text-center text-md-center mb-4 mt-md-0">
    <h1 class="mb-0 h3">{{ 'pages.login.header' | trans }}</h1>
    {% if errorMessage is defined and errorMessage is not empty %}
        <div class="alert alert-danger mt-3">{{ errorMessage }}</div>
    {% endif %}
</div>

{{ form_start(userLoginForm, {
    attr: {
        "class" : "mt-4"
    }
}) }}

    <div class="form-group mb-4">
        {{ form_label(userLoginForm[FIELD_USERNAME]) }}
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">
                <span class="fas fa-envelope"></span>
            </span>
            {{ form_widget(userLoginForm[FIELD_USERNAME], {
                attr: {
                    "class": 'form-control'
                }
            }) }}
        </div>
    </div>

    <div class="form-group">
        <div class="form-group mb-4">
            {{ form_label(userLoginForm[FIELD_NAME_PASSWORD]) }}
            <div class="input-group">
                <span class="input-group-text" id="basic-addon2">
                    <span class="fas fa-unlock-alt"></span>
                </span>
                {{ form_widget(userLoginForm[FIELD_NAME_PASSWORD], {
                    attr: {
                        "class": 'form-control'
                    }
                }) }}
            </div>
        </div>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >

    {{ form_widget(userLoginForm[FIELD_NAME_SUBMIT], {
        attr: {
            "class": 'btn btn-block btn-primary'
        }
    }) }}

    <br/>

{% if not isDemo() %}
    <a href="{{ path('register') }}" target="_self">
        <div id="user_login_form_register" name="user_login_form[register]" class="btn btn-block btn-primary">
            {{ 'forms.loginForm.register.label' | trans }}
        </div>
    </a>
{% endif %}

{{ form_end(userLoginForm) }}
